<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="UI Tests">
            <directory>testing/tests</directory>
            <directory>testing/utils</directory>
        </testsuite>
    </testsuites>
</phpunit>
